body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.game{
  margin-top:2%;
  margin-left:2%;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 30px;
  max-height:450px;
  overflow:auto;
  font-weight:bold;
}

.winningSquare {
  background-color:rgb(181, 231, 181);
}


ol{
  list-style:none;
  padding-left:0px;
}

ol li{
  margin-bottom:4px;
}
li:first-child { 
  margin-bottom:15px;
}

/* 
.square {
  border:none;
  color:grey;
}

ol li {
  display: none;
} */